@charset "UTF-8";

/*======================*/

@import url('https://fonts.googleapis.com/css2?family=Ope+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1400;1,500;1,600;1,700;1,800&display=swap');


@import url('https://fonts.googleapis.comcss2family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;09001,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* fontes */
    --font01: 'Open Sans', sans-serif; 
    --font02: 'Roboto', sans-serif;
    --font03: 'Roboto Slab', serif;
    --font04: 'Montserrat', sans-serif;
    /*========*/

    /*cores*/
    --color01: black;
    --color01-2: #272727;
    --color01-3 : #2d2d2d;
    --color01-4: #414141;
    --color01-5: #1c1c1c;
    --color02: white;
    --color03: #EA020A;

}








footer {
    width: 100%;
    color: white;
}

.footer_link {
    text-decoration: none;
}

#footer_content {
    background-color: black ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
    color: white;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 10%;
    transition: all 0.5s;
}

#footer_social_media .footer_link {
    font-size: 1.2rem;
}


#footer_social_media .footer_link:hover {
    opacity: 0.8;
    
}

#instagram {
    background-color: rgb(255, 0, 0);
}

#facebook {
    background-color: #ff0000;
}

#whatsapp {
    background-color: #ff0000;
}


.footer_list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer_list .footer_link {
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}

.footer_list .footer_link:hover {
    color: #ff0000;

}

ul > li > h3 {
    color: red;
}

#footer_subiscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

#footer_subscribe h3 {
    color: #ff0000;
}


#input_group {
    display: flex;
    align-items: center ;
    background-color: black;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #f8f8f8;
    border: none;
    color: red;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.5s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}


@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem;
    }
}

::placeholder {
    color: #000000
    
}